@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* root variables defined */
:root {
    --navbar-gray-50: #656266;
    --navbar-gray-100: #616161;
    --navbar-gray-200: #322f33;
    --navbar-gray-50: #1c181d;
    --font-light: #e3e3e3;
    --font-mid: #616161;
    --font-dark: #475467;
    --strokes-s50: #ebebeb;
    --strokes-s100: #e1e1e1;
    --strokes-s200: #616161;
    --states-hover: #f7f7f7;
    --states-pressed: #f0f0f0;
    --states-focused: #005bd3;
    --bg-plain-white: #ffffff;
    --bg-plain-background: #f1f1f1;
    --profile-text-color: rgba(0, 0, 0, 0.400000006);
    --profile-bg-color: #36fba1;
    --mid-border: #dbdada;
    --thin-border: #f1f1f1;
    --borders-radius: 1rem;
    --mobile-borders-radius: 0.5rem;
}
  
/* CSS Reset */
/* Box-sizing border-box for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;;
  }

  /* list styles removed (bullets/numbers) */
  ul, ol {
    list-style: none;
  }
  
  /* default margins and paddings removed */
  body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  /* underline from links removed*/
  a {
    text-decoration: none;
  }
  
  /* default outline styles removed*/
  :focus {
    outline: none;
  }
  
  /* default font styles and sizes set*/
  body {
    font-size: 16px;
    line-height: 1.6;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--bg-plain-background);
  }

  .header {
    margin-bottom: 3.2rem;
    box-sizing: border-box;
    padding: 4rem 1.6rem;
    width: 100%;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
  }

  .header-container {
    box-sizing: border-box;
    padding: 4rem 1.6rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
  }

  .mobile-logo {
    display: none;
  }
  /* Style for the search container */
  .search-container {
    position: relative;
    width: 35% /* Adjust width as needed */
  }

/* Style for the search box */
  .search-box {
    width: 100%;
    height: 4.5rem;
    padding: 1.5rem 5rem ;
    border-radius: var(--borders-radius);
    border: solid 0.05rem var(--font-mid); 
    background-color: var(--navbar-gray-200); /* Dark background color */
    color: var(--font-light); /* Text color */
    font-size: 1.9rem;
    font-weight: 500;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--states-hover); /* Icon color */
    font-size: 2px;
    pointer-events: none; /* Prevent the icon from being selectable */
  }
  
  .menu {
    display: flex;
    gap: 1rem;
    height: 4.5rem;
  }

  .menu .notification, .menu .profile {
    background: var(--navbar-gray-200);
    border-radius: 0.8rem;
    padding: 0.5rem;
  }

  .menu .profile {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
  }

  .menu .profilename {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--font-light);
  }

  .menu .profileinitials {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--profile-text-color);
    background: var(--profile-bg-color);
    padding: 0.45rem;
    border-radius: 0.7rem;
  }

  .topbar-menu {
    display: flex;
    opacity: 0;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    width: 23%;
    background: var(--bg-plain-white);
    border-radius: 1rem;
    border: solid 0.05rem var(--mid-border);
    box-shadow: 0.1rem 0.1rem 0.9rem 0.1rem rgba(0, 0, 0, 0.05);;
    padding: 0.5rem 0;
    position: absolute;
    top: 8.5rem;
    right: 3.2rem;
    transition: opacity 0.5s ease-in;
  }

  .topbar-menu.open-menu {
    opacity: 1;
  }
  .topbar-menu .profile-container {
    display: flex;
    justify-content: space-between;
    background: var(--bg-plain-background);
    border-radius: var(--borders-radius);
    padding: 1rem auto;
    margin: 0.5rem;
  }

  .topbar-menu .profile {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    border-radius: 0.8rem;
  }

  .topbar-menu .profilename {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--font-dark);
  }

  .topbar-menu .profileinitials {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--profile-text-color);
    background: var(--profile-bg-color);
    padding: 0.6rem;
    border-radius: 0.7rem;
  }

  .topbar-menu .stores {
    margin: 0 0.5rem;
    padding: auto 1rem;
  }

  .topbar-menu .heading {
    border-bottom: 0.2rem solid var(--mid-border);
  }

  .topbar-menu .bottom {
    border-bottom: 0.2rem solid var(--thin-border);
  }

  .stores .stores-link {
    display: flex;
    margin-bottom: 1rem;
    padding: auto 1rem;
  }

  .topbar-menu .text {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--font-dark);
    margin-left: 1rem;
  }

  .alert-menu {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    width: 30%;
    background: var(--bg-plain-white);
    border-radius: 1rem;
    border: solid 0.05rem var(--mid-border);
    box-shadow: 0.1rem 0.1rem 0.9rem 0.1rem rgba(0, 0, 0, 0.05);;
    padding: 1rem 2rem;
    position: absolute;
    top: 8.5rem;
    right: 3.2rem;
    overflow: visible;
  }

  .alert-menu .alert-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .alert-menu .alert-title {
    font-weight: 700;
    font-size: 1.7rem;
  }

  .alert-menu .menu-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .alert-menu .alert-container2 {
    background: var(--bg-plain-background);
    padding: 2rem;
    font-size: 1.3rem;
  }
  .banner {
    margin-bottom: 1.5rem;
    background: #1a1a1a;
    width: 50%;
    border-radius: var(--borders-radius);
    height: 7rem;
    padding: 1.4rem;
  }

  .banner .subscription {
    width: 100%;
  }

  .banner .subscription .plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner .subscription .plan p {
    color: var(--font-light);
    font-weight: 600;
  }

  .banner .subscription .plan .btn-plan {
    display: flex;
    gap: 2rem;
  }

  .banner .subscription .plan .btn-plan a {
    background: var(--bg-plain-background);
    color: var(--font-dark);
    font-weight: 600;
    padding: 0.9rem;
    border-radius: var(--borders-radius);
  }

  /* Basic styles for the card */
.card {
  width: 50%;
  background-color: #fff;
  border-radius: var(--borders-radius);
  border: solid 0.05rem var(--mid-border);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card .setup-guide {
  margin: 2rem 2rem;
}

.card .progress-steps {
  margin: 0 2rem 2rem;
  display: flex;
  align-items: center;
}

.card .progress-bar-container {
  margin-left: 1rem;
  width: 10rem;
  height: 0.5rem;
  background: var(--bg-plain-background);
  border-radius: var(--mobile-borders-radius);
}

.card .progress-bar {
  background: var(--navbar-gray-200);
  width: 0;
  height: 100%;
}

.card-list {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 1rem;
  margin: 0.5rem;
  padding: 1rem 2rem 1rem 1rem;
  background: var(--bg-plain-background);
  border-radius: var(--borders-radius);
}

.card-list .sub-card-list {
  display: flex;
  gap: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-container p {
  color: var(--font-mid);
  font-weight: 500;
}

.card-container a {
  color: var(--states-focused);
}

.btn {
  text-align: left;
  margin-bottom: 1rem;
}

/* Common button styles */
.add, .import {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: var(--borders-radius);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* 3D effect - Raised */
.add {
  background-color: var(--navbar-gray-200);
  color: white;
  border: 0.2rem solid var(--navbar-gray-200);
}

.import {
  background-color: none;
  border: none;
  color: var(--font-dark);
}

.card-list .image-box {
  margin: auto;
  border-radius: var(--mobile-borders-radius);
  width: 20%;
  height: 10rem;
}

.card-list img {
  width: 100%;

}



@media screen and (max-width: 767px) {
  /* Apply styles for screens smaller than 768px (typically mobile screens) */
  .header {
    margin-bottom: 2rem;
    padding: 3.5rem 1.2rem;
    width: 100%;
  }


  .header-container {
    gap: 1rem;
    padding: 4rem 0rem;
  }
  .desktop-logo {
    display: none; /* Hide the desktop logo */
  }

  .mobile-logo {
    display: block; /* Display the mobile SVG */
    /* Add any specific styles for the mobile SVG here */
  }

  .search-container {
    position: relative;
    width: 70% /* Adjust width as needed */
  }

  .menu .notification, .menu .profile {
    background: none;
    padding: 0;
  }

  .menu .profile {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
    align-items: center;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
  }

  .menu .profilename {
    display: none;

  }

  .menu .profileinitials {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--profile-text-color);
    background: var(--profile-bg-color);
    padding: 0.45rem;
    border-radius: 0.7rem;
  }

  .banner {
    margin-bottom: 1.5rem;
    background: #1a1a1a;
    width: 100%;
    border-radius: 0;
    height: 7rem;
    padding: auto 1rem;
    height: max-content;
  }

  .banner .subscription .plan p {
    color: var(--font-light);
    font-weight: 600;
    font-size: 1rem;
  }

  .banner .subscription .plan .btn-plan {
    display: flex;
    gap: 1rem;
  }

  .banner .subscription .plan .btn-plan a {
    background: var(--bg-plain-background);
    color: var(--font-dark);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: var(--mobile-borders-radius);
    height: 3rem;
    margin: auto;
  }

  .card {
    width: 100%;
    border-radius: 0;
    padding: 0.9rem;
  }

  .card-list {
    padding: 0.5rem;
  }
  
  .card-container {
    gap: 0.5rem;
  }
  
  .card-container p {
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .btn {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  
  /* Common button styles */
  .add, .import {
    padding: 0.5rem 1rem;
    border-radius: var(--mobile-borders-radius);
  }
  
  /* 3D effect - Raised */
  .add {
    border: 0.1rem solid var(--navbar-gray-200);
  }
  
  .image-box {
    width: 40%;
  }
}