@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* root variables defined */
:root {
    --navbar-gray-50: #656266;
    --navbar-gray-100: #616161;
    --navbar-gray-200: #322f33;
    --navbar-gray-50: #1c181d;
    --font-light: #e3e3e3;
    --font-mid: #616161;
    --font-dark: #475467;
    --strokes-s50: #ebebeb;
    --strokes-s100: #e1e1e1;
    --strokes-s200: #616161;
    --states-hover: #f7f7f7;
    --states-pressed: #f0f0f0;
    --states-focused: #005bd3;
    --bg-plain-white: #ffffff;
    --bg-plain-background: #f1f1f1;
    --profile-text-color: rgba(0, 0, 0, 0.400000006);
    --profile-bg-color: #36fba1;
    --borders-radius: 1rem;
}
  
/* CSS Reset */
/* Box-sizing border-box for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;;
  }

  /* list styles removed (bullets/numbers) */
  ul, ol {
    list-style: none;
  }
  
  /* default margins and paddings removed */
  body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  /* underline from links removed*/
  a {
    text-decoration: none;
  }
  
  /* default outline styles removed*/
  :focus {
    outline: none;
  }
  
  /* default font styles and sizes set*/
  body {
    font-size: 16px;
    line-height: 1.6;
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-plain-background);
  }

  .header {
    margin-bottom: 3.2rem;
    box-sizing: border-box;
    padding: 4rem 1.6rem;
    width: 100%;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
  }

  .header-container {
    box-sizing: border-box;
    padding: 4rem 1.6rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
  }

  /* Style for the search container */
.search-container {
    position: relative;
    width: 35% /* Adjust width as needed */
  }

/* Style for the search box */
.search-box {
    width: 100%;
    height: 4.5rem;
    padding: 1.5rem 5rem ;
    border-radius: var(--borders-radius);
    border: solid 0.05rem var(--font-mid); 
    background-color: var(--navbar-gray-200); /* Dark background color */
    color: var(--font-light); /* Text color */
    font-size: 1.9rem;
    font-weight: 500;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--states-hover); /* Icon color */
    font-size: 2px;
    pointer-events: none; /* Prevent the icon from being selectable */
  }
  
  .menu {
    display: flex;
    gap: 1rem;
    height: 4.5rem;
  }

  .menu .notification, .menu .profile {
    background: var(--navbar-gray-200);
    border-radius: 0.8rem;
    padding: 0.5rem;
  }

  .menu .profile {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
  }

  .menu .profilename {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--font-light);
  }

  .menu .profileinitials {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--profile-text-color);
    background: var(--profile-bg-color);
    padding: 0.45rem;
    border-radius: 0.7rem;
  }

  .banner {
    margin-bottom: 1.5rem;
    background: #1a1a1a;
    width: 60%;
    border-radius: var(--borders-radius);
    height: 7rem;
    padding: 1.4rem;
  }

  .banner .subscription {
    width: 100%;
  }

  .banner .subscription .plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner .subscription .plan p {
    color: var(--font-light);
    font-weight: 600;
  }

  .banner .subscription .plan .btn-plan {
    display: flex;
    gap: 2rem;
  }

  .banner .subscription .plan .btn-plan a {
    background: var(--bg-plain-background);
    color: var(--font-dark);
    font-weight: 600;
    padding: 0.9rem;
    border-radius: var(--borders-radius);
  }

  /* Basic styles for the card */
.card {
  width: 60%;
  background-color: #f5f5f5;
  border-radius: var(--borders-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.9rem;
}

.card-list {
  display: flex;
  gap: 1rem;
  padding: 0.9rem;
  background: var(--bg-plain-background);
  border-radius: var(--borders-radius);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-container p {
  color: var(--font-mid);
  font-weight: 500;
}

.btn {
  text-align: left;
  margin-bottom: 1rem;
}

/* Common button styles */
.add, .import {
  padding: 10px 20px;
  border-radius: var(--borders-radius);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* 3D effect - Raised */
.add {
  background-color: var(--navbar-gray-100);
  color: white;
  border: 0.2rem solid var(--navbar-gray-200);
}

.import {
  background-color: none;
  border: none;
  color: var(--font-dark);
}

.image-box {
  width: 20%;
  background: url('https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg');
  background-size: cover;
}